body {
    height: 100%;
    margin: 0;
    overflow: hidden
}

#chart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#chart svg {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 35%, rgba(238, 238, 238, 1) 100%);
    width: 100%;
    height: 100%
}

#help {
    display: none;
    position: absolute;
    z-index: 99999;
    top: 15%;
    left: 15%;
    width: 70%;
    background: #fff;
}

#application-info,
#selection-info {
    opacity: 0;
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 8px;
    background: #fff;
    max-width: 25%;
}
#application-info {
    top: 60px;
}
#application-info h4,
#selection-info h4 {
    font-weight: bold;
}


#dependency-info {
    opacity: 0;
    position: absolute;
    z-index: 101;
    top: 80px;
    right: 8px;
    background: #fff;
}

circle.active {
    stroke: #f14668;
    stroke-width: 2;
}

circle.inactive {
    opacity: 0.5;
}

circle.hover {
    stroke: #3298dc;
}

line.active {
    stroke-opacity: 1.0;
    stroke: #f14668;
}

line.inactive {
    stroke-opacity: 0.5;
    stroke: #999;
}
